@import 'fonts';

$red-color: #C70101;

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geometria';
    font-weight: 500;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.btn {
    background: $red-color;
    border-radius: 5px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    text-align: center;  
    &:hover {
        box-shadow: -1px -1px #fff,
         2px 2px #fff;;
    }
}

a:hover {
    text-shadow: 0 3px $red-color;
}

@import 'blocks/promo-section';
@import 'blocks/header';