@import 'fonts';

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geometria';
    font-weight: 500;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.btn {
    background: #C70101;
    border-radius: 5px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

@import 'blocks/promo-section';
@import 'blocks/header';