@import 'fonts';

$red-color: #C70101;
$black-color: #0D0D0D;
$border-radius: 5px;

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geometria';
    font-weight: 500;
}

.container {
    width: 940px;
    margin: 0 auto;
}

a:hover {
    text-shadow: 0 3px $red-color;
}

.tittle {
    font-weight: 700;
    font-size: 30px;
    color: $black-color;
    text-transform: uppercase;
    text-align: center;
    &_white {
        text-align: left;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
    }
}

@import 'blocks/btns';
@import 'blocks/forms';

@import 'blocks/promo-section';
@import 'blocks/header';
@import 'blocks/advantages-section';
@import 'blocks/consultation';
@import 'blocks/_slider-section';

@import 'blocks/media';