.form {
    display: flex;
    flex-direction: column;
    &_consultation {
        margin-top: 36px;
        width: 303px;
        height: 258px;
        justify-content: space-between;
        input {
            height: 50px;
            padding: 0 21px;
            border-radius: $border-radius;
            border: none;
            font-size: 14px;
            &:focus {
                outline: none;
                border: 2px solid $black-color;
                box-shadow: 1px 1px 10px $red-color,
                            -1px -1px 10px $red-color;
            }
        }

    }
}